html {
    background-image: url(comicSpace.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    max-width: 960px;
    padding: 1%;
    margin: auto;
    background-color: rgb(255,255,255, .7);
}

.superhero {
    margin: 1%;
}

.gifLocation {
    display: flex;
    flex-wrap: wrap;
}

img {
    margin: 1px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 2.5em;
    text-align: center;
    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

text, p, label {
    font-family: 'Bangers', cursive;  
}

label {
    margin-right: 1%;
    font-size: 1.5em;
}

#findHero {
    margin-top: 1%;
    margin-bottom: 1%;
}

@media only screen and (max-width: 1000px) {
    html, body {
        min-height: 100%;
        background-repeat: repeat;
    }
    .gifLocation {
        flex-direction: column;
    }
    div {
        display: inline-block;
        text-align: center;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    img {
        max-width: 95%;
        /* max-height: 95%; */
    }

}